@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
#calendar .wrapper {
  width: 350px;
  background: rgba(234, 210, 244, 0.6705882353);
  border: 1px solid #a64ac9;
  border-radius: 10px;
  position: absolute;
  left: 20px;
}
#calendar .wrapper header {
  display: flex;
  align-items: center;
  padding: 15px 20px 5px;
  justify-content: space-between;
}
#calendar .wrapper header .icons {
  display: flex;
}
#calendar .wrapper header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
#calendar .wrapper header .icons span:last-child {
  margin-right: -10px;
}
#calendar .wrapper header .icons span:hover {
  background: #f2f2f2;
}
#calendar .wrapper header .current-date {
  font-size: 1.35rem;
  font-weight: 700;
  color: #f39c12;
}
#calendar .wrapper .calendar {
  padding: 15px;
}
#calendar .wrapper .calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
#calendar .wrapper .calendar .days {
  margin-bottom: 20px;
}
#calendar .wrapper .calendar li {
  color: #333;
  width: 14.2857142857%;
  font-size: 1.04rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
  padding: 5px;
}
#calendar .wrapper .calendar li.inactive {
  color: #aaa;
}
#calendar .wrapper .calendar li.active {
  color: #fff;
}
#calendar .wrapper .calendar li.active::before {
  background: #9B59B6;
}
#calendar .wrapper .calendar li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 30px;
  width: 30px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
#calendar .wrapper .calendar li:not(.active):hover::before {
  border: 1px solid #f2f2f2;
}
#calendar .wrapper .calendar li.task-marked {
  color: rgb(2, 83, 2);
  border-radius: 50%;
}
#calendar .wrapper .calendar li.task-marked::after {
  content: "📝";
  position: absolute;
  top: 30%;
  right: 0%;
  transform: translate(-50%, -50%);
  font-size: 8px;
  color: black;
}
#calendar .wrapper .calendar .light-mode li:not(.active):hover::before {
  border: 1px solid black;
}
#calendar .wrapper .calendar .weeks {
  display: flex;
}
#calendar .wrapper .calendar .weeks li {
  font-weight: 500;
  cursor: default;
  color: #a64ac9;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto 0 auto;
  max-width: 500px;
}
.container form {
  margin-top: 0px;
  width: 100%;
  display: flex;
  gap: 10px;
}
.container form input {
  flex: 1;
  padding: 12px;
  background-color: rgba(49, 49, 49, 0.916);
  border: 2px solid #a64ac9;
  border-radius: 12px;
  outline: none;
  color: #fff;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}
.container form input:focus {
  border-color: #1abc9c;
  box-shadow: 0 0 8px rgba(255, 204, 102, 0.5);
}
.container form button {
  padding: 16px;
  height: 50px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1abc9c;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  outline: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.container form button:hover {
  background-color: #f39c12;
  transform: rotate(15deg);
}
.container form button:active {
  transform: scale(0.95);
}
.container .task-list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 20px 0;
}
.container .task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease;
}
.container .task-list li:hover {
  background-color: rgba(49, 49, 49, 0.916);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.container .task-list li .taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.container .task-list li .taskItem .task {
  display: flex;
  align-items: center;
}
.container .task-list li .taskItem .task.completed p {
  text-decoration: line-through;
  color: #1abc9c;
}
.container .task-list li .taskItem .task input[type=checkbox] {
  margin-right: 12px;
}
.container .task-list li .taskItem .task p {
  margin: 0;
  color: #fff;
  font-weight: bold;
}
.container .task-list li .taskItem .icons {
  display: flex;
  gap: 12px;
}
.container .task-list li .taskItem .icons i {
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}
.container .task-list li .taskItem .icons i:hover {
  color: #a64ac9;
  transform: rotate(20deg);
}
.container .task-list li .taskItem .icons i.delete {
  color: #e74c3c;
}
.container .task-list li .taskItem .icons i.edit {
  color: #ffcc70;
}

.stats-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #a64ac9;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(91, 91, 91, 0.217);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.stats-container .details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.stats-container .details h2 {
  color: #f1c646;
}
.stats-container .details #progressBar {
  width: 200px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.stats-container .details #progressBar #progress {
  width: 0%;
  height: 100%;
  background-color: #1abc9c;
  border-radius: 8px;
  transition: width 0.3s ease;
}
.stats-container .stats-number {
  width: 100px;
  height: 100px;
  background: #a64ac9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.tri-state-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  background: rgba(6, 3, 3, 0.8);
  box-shadow: inset 2px 4px 4px 4px rgba(181, 183, 184, 0.25);
  border-radius: 24px;
  overflow: hidden;
  display: inline-flex;
  transition: all 500ms ease;
}
.tri-state-toggle .tri-state-toggle-button {
  border-radius: 22px;
  height: 44px;
  width: 64px;
  background-color: transparent;
  border: 0px solid transparent;
  margin: 2px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
.tri-state-toggle .tri-state-toggle-button.active {
  border: 1px solid white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 500;
  transition: all 0.5s ease-in;
}
.tri-state-toggle .tri-state-toggle-button:focus {
  outline: none;
}
.tri-state-toggle #toggle-button1.active {
  background-image: linear-gradient(135deg, #e0d9f5, #ffffff);
  color: black;
}
.tri-state-toggle #toggle-button2.active {
  background-image: linear-gradient(90deg, #6ac1c5, #bda5ff);
  color: black;
}
.tri-state-toggle #toggle-button3.active {
  background-image: linear-gradient(135deg, #2c003e, #0d0d0d);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Comic Sans MS", cursive, sans-serif;
  height: 100vh;
}

/*# sourceMappingURL=styles.css.map */
