@import "./abstracts/variables";

@import "./layout/calendar";
@import "./layout/todo-container";
@import "./layout/navbar";
@import "./layout/progress-bar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $text;
  font-family: "Comic Sans MS", cursive, sans-serif;
  height: 100vh;

  &.dark-mode {

    nav .logo h2 {
      color: #fff;
    }

    

    #list{
      color: #fff;
    }
    

  }
}

.hero {
  display: flex;

  @media (max-width: 670px) {
    display: flex;
    flex-direction: column;
  }
}
