@import "./abstracts/variables";

@import "./layout/calendar";
@import "./layout/todo-container";
@import "./layout/toggle-switch";
@import "./layout/progress-bar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $text;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  height: 100vh;
}

.dark-mode .body-wrapper nav .logo {
  color: #fff !important;
}




.hero{
  display: flex;
}

