@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

#calendar {
  .wrapper {
    width: 350px;
    background: #ead2f4ab;
    border: 1px solid $purple;
    border-radius: 10px;
    position: absolute; 
    left: 20px; 

    header {
      display: flex;
      align-items: center;
      padding: 15px 20px 5px;
      justify-content: space-between;

      .icons {
        display: flex;

        span {
          height: 38px;
          width: 38px;
          margin: 0 1px;
          cursor: pointer;
          color: #878787;
          text-align: center;
          line-height: 38px;
          font-size: 1.9rem;
          user-select: none;
          border-radius: 50%;

          &:last-child {
            margin-right: -10px;
          }

          &:hover {
            background: #f2f2f2;
          }
        }
      }

      .current-date {
        font-size: 1.35rem;
        font-weight: 700;
        color: $button-hover;
      }
    }

    .calendar {
      padding: 15px;

      ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        text-align: center;
      }

      .days {
        margin-bottom: 20px;
      }

      li {
        color: #333;
        width: calc(100% / 7);
        font-size: 1.04rem;
        position: relative;
        z-index: 1;
        cursor: pointer;
        padding: 5px;

        &.inactive {
          color: #aaa;
        }

        &.active {
          color: #fff;

          &::before {
            background: #9B59B6;
          }
        }

        &::before {
          position: absolute;
          content: "";
          left: 50%;
          top: 50%;
          height: 30px;
          width: 30px;
          z-index: -1;
          border-radius: 50%;
          transform: translate(-50%, -50%);
        }

        &:not(.active):hover::before {
          border: 1px solid #f2f2f2;
        }

        &.task-marked {
          color: rgb(2, 83, 2);
          border-radius: 50%;

          &::after {
            content: '📝';
            position: absolute;
            top: 30%;
            right: 0%;
            transform: translate(-50%, -50%);
            font-size: 8px;
            color: black;
          }
        }
      }

      .light-mode li {
        &:not(.active):hover::before {
          border: 1px solid black; // Border color for light mode
        }
      }

      .weeks {
        display: flex;
        li {
          font-weight: 500;
          cursor: default;
          color: $purple;
          padding: 10px;
        }
      }
    }
  }
}
