
.container {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 50px;
  padding: 32px;
  width: 500px;
  gap: 20px;

  @media (max-width:670px){
    max-width: 300px;

}

@media (max-width:550px){
  max-width: 200px;

}
  
    form {
      margin-top: 0px;
      width: 100%;
      display: flex;
      gap: 10px;
  
      input {
        flex: 1;
        padding: 10px;
        background-color: #c7eef84c;
        border: 1px solid #537384;
        border-radius: 12px;
        outline: none;
        color: #0f0f0f;
        transition: border 0.3s ease, box-shadow 0.3s ease;
  
        &:focus {
          border-color: #030b0e;
        }
      }
  
      button {
        padding: 16px;
        height: 50px;
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #116189;

        color: $text;
        font-size: 30px;
        font-weight: bold;
        outline: none;
        transition: background-color 0.3s ease, transform 0.2s ease;
  
        &:hover {
          transform: rotate(15deg);
          background-color: #042332;
          box-shadow: 0 0 8px #03a6f7;


        }
  
        &:active {
          transform: scale(0.95);
          box-shadow: 0 0 8px #03a6f7;

        }
      }
    }
  
    .task-list {
      list-style: none;
      width: 100%;
      padding: 0;
      margin: 20px 0;
  
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: medium;
        font-weight: 200;
        font-family: Poppins, "Helvet";
        color: #0f0f0f;
        padding: 5px;
        margin-bottom: 8px;
        transition: box-shadow 0.3s ease;
        border-bottom: 1px solid $background;
  
        .taskItem {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          border-bottom: 1px solid black;
  
          .task {
            display: flex;
            align-items: center;
  
            &.completed p {
              text-decoration: line-through;
            }
  
            input[type="checkbox"] {
              margin-right: 12px;
              height: 15px;
              width: 15px;
              border-radius: 100%;
            }
  
            p {
              margin: 0;
              color: #0f0f0f;
              font-weight: 100;
             
            }
          }
  
          .icons {
            display: flex;
            gap: 12px;
  
            i {
              font-size: 12px;
              cursor: pointer;
              transition: color 0.3s ease, transform 0.2s ease;
  
              &:hover {
                color: $purple;
                transform: rotate(20deg);
              }
  
              &.delete {
                color: $delete;
              }
  
              &.edit {
                color: #ffa600;
              }
            }
          }
        }
      }
    }
  }
