// variables
$background: linear-gradient(135deg, #6ac1c5, #bda5ff);
$secondary-background: rgba(49, 49, 49, 0.916);
$text: #fff;
$purple: #a64ac9;
$teal: #1abc9c;
$delete: #e74c3c;
$button-hover: #f39c12;
$task: rgba(0, 0, 0, 0.6);
$input-focus: rgba(255, 204, 102, 0.5);
$shadow: rgba(0, 0, 0, 0.3);